{% extends 'layout.twig' %}

{% block body %}
       {% include "components/navegationBar.twig" %}
       <div class="panel panel-info" id="panelTOTAL">
           <h1>PAPA</h1>
       </div>
{% endblock %}
