{% extends 'layout.twig' %}

{% block body %}
       {% include "components/navegationBar.twig" %}
       <div class="panel panel-info" id="panelTOTAL">
          {%block backGrupos %}{% endblock %}
         	<div class="table-wrapper">
         		 {% include "components/titleTable.twig" %}
         		 <table class="table table-hover" id="tabla">
         		 	{% include "components/headTable.twig" %}
              <tbody id="tableBody"></tbody>
         		 </table>
         	</div>
       </div>
       {% include "components/navegationBar.twig" %}
       {% include "modals/deleteModal.twig" %}
       {% block modals %}{% endblock %}
{% endblock %}
