<!-- Edit Modal HTML -->
	<div id="editRamaModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content" id="contentadd">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Editar Rama</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">						
						<div class="form-group">
							<label>Nombre <label class="obligatorio">(*)</label></label>
							<input type="text" class="form-control" required id="editNombre">
						</div>
						<div class="form-group">
							<label>Edad Minima <label class="obligatorio">(*)</label></label>
							<!input type="text" class="form-control" required id="editEdadMinima">
							<select class="selectpicker form-control col-md-10" id="editEdadMinima">
							{% for i in 4..21 %}
								<option>{{i}}</option>
							{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label>Edad Maxima <label class="obligatorio">(*)</label></label>
							<!input type="text" class="form-control" required id="editEdadMaxima">
							<select class="selectpicker form-control col-md-10" id="editEdadMaxima">
							{% for i in 4..21 %}
								<option>{{i}}</option>
							{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label>Fecha de Inicio de Inscripcion <label class="obligatorio">(*)</label></label>
							<input type="text" class="form-control dateFormat" required id="editFechaInicio">
						</div>
						<div class="form-group">
							<label>Fecha de Fin de Inscripcion <label class="obligatorio">(*)</label></label>
							<input type="text" class="form-control dateFormat" required id="editFechaFin">
						</div>
						<div class="form-group">
							<label>Tipo <label class="obligatorio">(*)</label></label>
							<select class="selectpicker form-control col-md-10" id="editTipo">
  								<option>Rama Femenina</option>
  								<option>Rama Masculina</option>
  								<option>Rama Mixta</option>
							</select>

						</div>
						<div class="form-group">
							<label>Fotos</label>
							<input type="text" class="form-control hide" required  disabled>
							<a href="#addGrupoModal" class="btn btn-primary col-md-12 btn-xs" data-toggle="modal"> <i class="material-icons">&#xE254;</i> <span>Editar Fotos</span></a>	
						</div>											
					</div>	
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Aceptar" id="editRamaSubmit">
					</div>
				</form>
			</div>
		</div>
	</div>