	<div id="ubicacionViewModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">						
					<h4 class="modal-title">Ubicacion del Grupo</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div>	
						<textarea rows=5 class="form-control"  required readonly id='UbicacionView'></textarea>
					</div>
				</div>	
				<div class="modal-footer">
						<a class="btn btn-success" id="ubicacionAcept">Aceptar</a>
				</div>
			</div>
		</div>
	</div>